@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 0; /* Hide scrollbar for WebKit browsers */
    height: 0; /* Hide horizontal scrollbar */
  }

  /* Firefox Support */
  .custom-scrollbar {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Optional: You can still make the content scrollable */
.scrollable {
  overflow: scroll; /* or 'auto' */
}
